{% extends 'base_admin_lte.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-12 col-lg-6">
            <div class="box box-default color-palette-box">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        <i class="fa fa-fw fa-gear"></i>
                        {% trans %}control.panel{% endtrans %}
                    </h3>
                </div>
                <div class="box-body">
                    {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            {% for tab, settings in tabs %}
                                {% if loop.first %}
                                    <li class="active"><a href="#tab_{{ tab }}" data-toggle="tab">{{ tab|trans }}</a></li>
                                {% else %}
                                    <li><a href="#tab_{{ tab }}" data-toggle="tab">{{ tab|trans }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        <div class="tab-content">
                            {% for tab, settings in tabs %}
                                {% if loop.first %}
                                    <div class="tab-pane active" id="tab_{{ tab }}">
                                        {% for setting in settings %}
                                            {% if form[setting].vars.errors|length %}
                                            <div class="form-group has-error">
                                            {% else %}
                                            <div class="form-group">
                                            {% endif %}
                                                {{ form_label(form[setting])  }}
                                                {{ form_widget(form[setting]) }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    <div class="tab-pane" id="tab_{{ tab }}">
                                        {% for setting in settings %}
                                            {{ form_row(form[setting]) }}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    {{ form_end(form)}}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
{{ parent() }}
<script src="{{ asset('adminlte/js/run/run-datatable.js') }}"></script>

{% endblock %}
